/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
  }
  ul {
    display: flex !important;
    justify-content: center !important;
  }
  
  ul li {
    padding: 0 8px !important;
  }